
<% if !user_signed_in? %>
  <h1>Sign in to AiSight</h1>

  <%= form_with model: User.new, url: user_session_path do |f| %>
    <%= f.label :email, 'Email' %>
    <%= f.text_field :email %>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>
    <%= f.submit 'Sign In' %>
  <% end %>
<% end %>
